.card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px gray;
    background-color: rgb(240, 240, 240);
}

.owner {
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.row {
    display: flex;
    flex-direction: row;
}

.spaceEvenly {
    justify-content: space-evenly;
}